<div class="mt-5 m-5 p-5 container bg-light m-auto">
    <div class="m-5 m-auto">
        <div class="row">
            <div class="col-md-3">
                <nav class="nav flex-column bg-light">
                    <a class="nav-link" routerLink="address">Address</a>
                    <a class="nav-link text-primary" (click)="checkAddress()" >Payment</a> <!--(click)="checkAddress()"-->
                </nav>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>