<style>
    .floatright{
        float: right;
    }
    .clearfloat{
        clear: both;
    }
</style>

<div (click)="showCakeDetails()" class="card mt-2" style="width: 18rem;">
    <img  [src]="cakedata.image" style="height: 15rem;" class="card-img-top" [alt]="cakedata.name"> 
    <div class="card-header text-center h6">{{cakedata.name}}
    </div>
    <div class="card-body">
        <div class="card-title h6 row">
            <div class="col-4 text-center">{{cakedata.price | currency:"INR"}}</div>
        </div>
    </div>
    <div class="card-footer gap-2 d-grid">
        <a class="btn btn-primary ">View Details</a>
    </div>
</div>

<!-- Fixed Width Template -->
<!-- <div class="card mt-2" style="width: 18rem;">
    <img [src]="cakedata.image" class="card-img-top" [alt]="cakedata.name">
    <div class="card-header text-center h6">{{cakedata.name}} 
        <div *ngIf="cakedata.bestseller" class="text-danger floatright">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hearts"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.931.481c1.627-1.671 5.692 1.254 0 5.015-5.692-3.76-1.626-6.686 0-5.015Zm6.84 1.794c1.084-1.114 3.795.836 0 3.343-3.795-2.507-1.084-4.457 0-3.343ZM7.84 7.642c2.71-2.786 9.486 2.09 0 8.358-9.487-6.268-2.71-11.144 0-8.358Z" />
            </svg>
        </div><div class="clearfloat"></div>
    </div>
    <div class="card-body">
        <div class="card-title h6 row">
            <div class="col-4">{{cakedata.price}}</div>
            <div class="col-4 text-center">{{cakedata.offer}}</div>
            <div class="col-4 text-right">{{cakedata.offerprice}}</div>
        </div>
        <hr>
        <p class="card-text"><b>Description:</b> <br>{{cakedata.description}}</p>
    </div>
    <div class="card-footer gap-2 d-grid">
        <a href="#" class="btn btn-primary ">Buy Now</a>
    </div>
</div> -->

<!-- Basic Template -->
<!-- <div class="card m-2" style="width: 18rem;">
    <img [src]="cakedata.image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{cakedata.name}}</h5>
        <p class="card-text">{{cakedata.price}}</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
</div> -->

<!-- <div class="card m-3" style="width: 540px;"> 
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="cakedata.image" class="img-fluid rounded-start" [alt]="cakedata.name">
        </div>
        <div class="col-md-8">
            <div class="card-header text-center h6">{{cakedata.name}}</div>
            <div class="card-body">
                <div class="card-title h6 row">
                    <div class="col-4">{{cakedata.price}}</div>
                    <div class="col-4 text-center">{{cakedata.offer}}</div>
                    <div class="col-4 text-right">{{cakedata.offerprice}}</div>
                </div>
                <hr>
                <p class="card-text"><b>Description:</b> <br>{{cakedata.description}}</p>
            </div>
            <div class="card-footer gap-2 d-grid">
                <a href="#" class="btn btn-primary ">Buy Now</a>
            </div>
        </div>
    </div>
</div> -->